
<div class="container-fluid">
  <div class="customContent mb-5">
      <h1>Gymnasium Form</h1>
  </div>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- {{ userForm.value | json }}
    <hr>
    {{ userModel | json }} -->
    <!-- {{userForm.form.valid}} -->

    <div class='row'>
      <div class="col-md-6 customCol">
          <div class="form-group">
              <label>Name</label>
              <div class="input-group">
                <div class="icons-input">
                    <span class="fa fa-pencil icons mt-1 ml-1"></span>
                    <input
                    required  name="username"
                      type="text"
                      formControlName="username"
                      class="form-control"
                      placeholder="username"
                      >
                </div>
              <!-- <small class="text-danger">Name is required</small> -->
            </div>
          </div>
      
          <div class="form-group">
              <label>Email</label>
              <div class="input-group">
                <div class="icons-input">
                    <span class="fa fa-envelope icons mt-1 ml-1"></span>
                    <input
                    required  name="email" 
                      type="text"
                      formControlName="email"
                      class="form-control"
                      placeholder="Email"
                     >
                </div>
              <!-- <small class="text-danger" >Email is required</small> -->
            </div>
          </div>
      
          <div class="form-group">
              <label>Phone</label>
              <div class="input-group">
                <div class="icons-input">
                    <span class="fa fa-phone icons mt-1 ml-1"></span>
                    <input
                    type="tel" required pattern="^\d{10}$" name="phone" 
                      class="form-control"
                      formControlName="phone"
                      placeholder="Mobile Number"
                     >
                </div>
                <!-- <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
                  <small classs="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
                  <small classs="text-danger" *ngIf="phone.errors.pattern">Phone number must be of 10 digits</small>
                </div> -->
            </div>
          </div>
      
          <div class="form-group">
              <label>Password</label>
              <div class="input-group">
                <div class="icons-input">
                    <span class="fa fa-key icons mt-1 ml-1"></span>
                    <input
                     required name="password"
                      type="password"
                      formControlName="password"
                      class="form-control"
                      placeholder="Password"
                     >
                </div>
              <!-- <small class="text-danger" >Password is required</small> -->
            </div>
          </div>
      </div>




      <div class="col-md-6 customCol">
        
    <div class="form-group">
        <label>Role</label>
        <div class="input-group">
          <div class="icons-input">
        <select 
         class="custom-select" formControlName="topic"
          name="topic"
          >
          <option value="default">Role</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
        </select>
      </div>
        <!-- <small class="text-danger" >Please choose a topic</small> -->
      </div>
    </div>

   
    <div class="form-group">
        <label>Address</label>
        <div class="input-group">
          <div class="icons-input">
              <span class="fa fa-address-card icons mt-1 ml-1"></span>
              <input
               required  name="address" 
                type="text"
                formControlName="address"
                class="form-control"
                placeholder="Address"
                >
          </div>
        <!-- <small class="text-danger">Address is required</small> -->
      </div>
    </div>
      </div>

    </div>

    




    <div class="customContent">
        <button  class="btn btn-primary" type="submit">Submit Form</button>
    </div>
  </form>
</div>



 <!-- <div class="form-group">
      <label>Name</label>
      <input type="text" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" class="form-control " name="userName"  [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div> -->

    <!-- <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">

    </div> -->

    <!-- <div class="form-group">
      <label>Phone</label>
      <input type="tel" class="form-control" #phone="ngModel" required pattern="^\d{10}$" [class.is-invalid]="phone.touched && phone.invalid" name="phone" [(ngModel)]="userModel.phone">
      <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
        <small classs="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small classs="text-danger" *ngIf="phone.errors.pattern">Phone number must be of 10 digits</small>
      </div>
    </div> -->

    <!-- <div ngModelGroup="address">
      <div class="form-group">
          <label>Street</label>
          <input type="text" #street="ngModel" required [class.is-invalid]="street.invalid && street.touched" class="form-control " name="street"  [(ngModel)]="userModel.street">
          <small class="text-danger" [class.d-none]="street.valid || street.untouched">Street is required</small>
      </div>
      <div class="form-group">
          <label>City</label>
          <input type="text" #city="ngModel" required [class.is-invalid]="city.invalid && city.touched" class="form-control " name="city"  [(ngModel)]="userModel.city">
          <small class="text-danger" [class.d-none]="city.valid || city.untouched">City is required</small>
      </div>
      <div class="form-group">
          <label>State</label>
          <input type="text" #state="ngModel" required [class.is-invalid]="state.invalid && state.touched" class="form-control " name="state"  [(ngModel)]="userModel.state">
          <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is required</small>
      </div>
      <div class="form-group">
          <label>Postal Code</label>
          <input type="text" #postal="ngModel" required [class.is-invalid]="postal.invalid && postal.touched" class="form-control " name="postal"  [(ngModel)]="userModel.postal">
          <small class="text-danger" [class.d-none]="postal.valid || postal.untouched">Postal code is required</small>
      </div>

  </div> -->


  <!-- <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timeprefernce" value="morning" [(ngModel)]="userModel.timepreference">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timeprefernce" value="evening" [(ngModel)]="userModel.timepreference">
        <label class="form-check-label">Evening(5PM - 8PM)</label>
      </div>
    </div> -->

    <!-- <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
        <label class="form-check-label">Send me promotional offers</label>
      </div> -->